body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*---------------------- Styles de la bar de navigation ------------------------*/
nav {
    width: 100%;
    height: 80px;
    background-color: #1f2833;
}
#box {
    float: left;
    height: 80px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav div a {
    text-decoration: none;
    color: #c5c6c7;
    font-size: x-large;
    font-family: Lato;
}
/*---------------------- Styles du menu déroulant ------------------------*/
#nav-deroulante{
    background-color: #c5c6c7;
    width: 100%;
    height: 75px;
    display: flex;
}
/*---------------------- Styles du shop ------------------------*/
section{
    width: 80%;
    background-color: #259BAB;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.card {
    height: 300px;
    width: 200px;
    margin: 10px;
    background-color: #c5c6c7;
}
.card-price {
    font-family: 'Noto Sans', sans-serif;
    font-size: x-large;
}
.card-name {
    font-family: 'Lato', sans-serif;
    font-size: large;
    text-decoration: none;
    color: #1f2833;
}