body {
    display: flex;
    flex-direction: column;
}

/*---------------------- Styles de la bar de navigation ------------------------*/
nav {
    width: 100%;
    height: 80px;
    background-color: #1f2833;
}
#box {
    float: left;
    height: 80px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav div a {
    text-decoration: none;
    color: #c5c6c7;
    font-size: x-large;
    font-family: Lato;
}
/*--- Animation des liens de la bar de navigation ---*/
nav div a {
    background:
      linear-gradient(
        to right,
        rgba(31, 40, 51, 1),
        rgba(31, 40, 51, 1)
      ),
      linear-gradient(
        to right,
        rgba(37, 155, 171, 1),
        rgba(69, 162, 158, 1),
        rgba(197, 198, 199, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
a:hover {
    background-size: 0 3px, 100% 3px;
  }

/*---------------------- Styles de la division Home ------------------------*/
.home {
    width: 100%;
    height: 500px;
    background-color: #45a29e;
    display: block;
}
.home div {
    float: left;
    height: 100%;
    width: 50%;
}
.home-slogan {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    left: 120px;
    font-family: 'Lato', sans-serif;
    font-size: large;
}
.home-img {
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    right: 120px;
}

/*---------------------- Styles de la division Preview-Shop ------------------------*/
.preview-shop {
    width: 100%;
    height: 300px;
    background-color: #c5c6c7;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.preview-shop h4 {
    color: #1f2833;
    font-family: 'Barlow', sans-serif;
    position: relative;
    right: 620px;
    top: 20px;
}
.ps-box {
    border: solid 10px #c5c6c7;
    background-color: #dddddd;
    height: 200px;
    width: 90%;
}
.ps-item {
    float: left;
    height: 50px;
    width: 20%;
    margin-left: 4%;
}

/*---------------------- Styles de la division About-Us ------------------------*/
.about-us {
    background-color: #259bab;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-us-title {
    color: #0b0c10;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.about-us-subtitle {
    text-align: left;
    font-family: 'Lato', sans-serif;
}
.about-us-text {
    height: 220px;
    width: 1500px;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 500px;
}

/*---------------------- Styles du footer ------------------------*/
footer {
    width: 100%;
    height: 80px;
    background-color: #1f2833;
}
footer div {
    float: left;
    height: 80px;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
footer div h4 {
    text-decoration: none;
    color: #c5c6c7;
    font-size: large;
    font-family: Lato;
}
footer div ul li {
    text-decoration: none;
    list-style: none;
    display: flex;
}
i {
    color: #c5c6c7;
    margin-left: 10px;
}

