body{
    background-color: #979393 ;
}

    #container{
        display: flex;
        flex-direction: row;
        margin: auto;
        align-items: center;
        justify-content: center;
        width: 500px;
        height: 600px;
        background-color: rgb(219, 219, 219) ;
        margin-top: 100px;
       max-width: 500px;
    }
    #box{
        display: flex;
        flex-direction: column;
        background-color: rgb(233, 233, 233);
        width: 450px;
        height: 550px;
        margin: auto;
        align-items: start;
    max-width: 500px;
        
    }
    button{
        padding-top: 10px;
        border: none;
        background-color: rgb(233, 233, 233);
        width: 200px;
       text-align: left;
       font-family: 'Lato', sans-serif;
    }
    a{
        text-decoration: none;
        color: black;
    }



    #header{
        display: block;
       flex-wrap: wrap;
       flex-direction: row;
       justify-content: center;
       width: auto;
       height: auto;
       margin: auto;
       text-align: center;
       font-family: 'Lato', sans-serif;
    }

     div{
        height: auto;
        width: auto;
        margin: auto;
     }
     label{
    display: inline-block;
    clear: left;
    width: 250px;
    text-align: left;
    margin: auto;
    margin-left: 50px;
    font-family: 'Lato', sans-serif;
}
input {
  display: inline-block;
  width: 350px;
  margin-left: 50px;
  height: 40px;
  border: none;
}
    #footer{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 150px;
        background-color: rgba(78, 186, 201, 0.5);
        margin-right: 90px;      
        font-family: 'Lato', sans-serif;
    }
    .button2{
        border: none;
        align-content: right;
        width: 200px;
        align-items: start;
        float: right;
    }
  
 h4{
    text-align: center;
    align-content: center;
 }